# Note - Change these values before running in a shared or production environment

# ==========================================
# POSTGRES CONFIGURATIONS
# ==========================================
POSTGRES_PORT=5432
POSTGRES_DB=your_postgredb_name
POSTGRES_USER=your_postgre_username
POSTGRES_PASSWORD=your_postgre_password

AUTH_SERVICE_USER=auth_service_user
AUTH_SERVICE_PASSWORD=auth_secure_pass_123

ORDER_SERVICE_USER=order_service_user
ORDER_SERVICE_PASSWORD=order_secure_pass_123

BILLING_SERVICE_USER=billing_service_user
BILLING_SERVICE_PASSWORD=billing_secure_pass_123

NOTIFICATION_SERVICE_USER=notification_service_user
NOTIFICATION_SERVICE_PASSWORD=notification_secure_pass_123


# ==========================================
# TIMESCALEDB CONFIGURATIONS
# ==========================================
TIMESCALE_PORT=5433
TIMESCALE_DB=your_timescaledb_name
TIMESCALE_USER=your_timescaledb_username
TIMESCALE_PASSWORD=your_timescaledb_password

MARKET_TICKER_SERVICE_USER=market_service_user
MARKET_TICKER_SERVICE_PASSWORD=market_secure_pass_123

IOT_SERVICE_USER=iot_service_user
IOT_SERVICE_PASSWORD=iot_secure_pass_123

AI_SERVICE_USER=ai_service_user
AI_SERVICE_PASSWORD=ai_secure_pass_123